<html ng-app="DirectiveMadness">
<head>
  <script   src="https://code.jquery.com/jquery-3.1.0.js"   integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="   crossorigin="anonymous"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/lodash/4.16.1/lodash.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
</head>
<body>
  <main-nav></main-nav>
  <div class="container">

    <main-header>First title</main-header>

    <mouse-btn>Mouse Button is: 'UP'</mouse-btn>
    <mouse-over>Hover state: "Unseen"</mouse-over>
    <br />
    <br />
    <btn-freakin-time></btn-freakin-time>

    <p ng-if="!inputName">No number selected</p>
    <p ng-show="(inputName) % 2 === 0">Selected number is even</p>
    <p ng-show="(inputName) % 2 === 1">Selected number is odd</p>
    <p ng-show="inputName">Selected number {{inputName}}</p>

    <form>
      <input type="radio" name="name" value="1" ng-model="inputName" />
      <input type="radio" name="name" value="2" ng-model="inputName" />
      <input type="radio" name="name" value="3" ng-model="inputName" />
      <input type="radio" name="name" value="4" ng-model="inputName" />
      <input type="radio" name="name" value="5" ng-model="inputName" />
    </form>
  </div>

  <copyright>Big Company</copyright>

  <script src="js/app.js"></script><!-- App.js -->
  <script src="js/directives/mainNav.js"></script><!-- Nav directive -->
  <script src="js/directives/mainHeader.js"></script><!-- Header directive -->
</body>
</html>
