<form name='newQuote' ng-submit="processForm(newQuote)">
  <label for='author'>Author: </label>
  <input required type='text' name='author' ng-model="formData.author" ng-minlength="2" ng-maxlength="32">
  <p ng-hide="newQuote.author.$pristine || newQuote.author.$valid">
    The author name is be between 2 and 32 characters
  </p><br />
  <label for='quote'>Quote: </label>
  <input required type='text' name='quote' ng-model="formData.quote" ng-minlength="2" ng-maxlength="32">
  <p ng-hide="newQuote.quote.$pristine || newQuote.quote.$valid">
    The quote name is be between 2 and 32 characters
  </p> <br />
  <input type='submit' value="Submit Quote">
</form>
